* {
    box-sizing: border-box;
}

.body {
    font-family: Roboto;
    width: 100%;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 63px;
}

.logo a {
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}

.logo a span {
    color: #4BCAFF;
}


.navigation-list {
    display: flex;
    background-color: #35444F;
    justify-content: center;
    margin-top: 40px;
}

.navigation-item a {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 32px;
}

.navigation-item {
    padding: 24px 32px 18px 32px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.navigation-item {
    padding: 25px 0px 25px 44px;
}
.navigation-item:hover {
    background-color: #222F3A;
}

.main {
    margin: 49px 0 54px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 0;
    width: 344px;
    height: 399px;
    margin: 0;
    font-style: normal;
    justify-content: space-evenly;
}


.navbar-menu-item a {
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    color: #485863;
    margin-left: 44px;
}

.navbar-menu-item a:hover {
    color: black;
    background: #DBDBDB;
    text-align: center;
    padding-left: 0;
}


.main-content {
    display: flex;
}

.image-logo {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
}

.img {
    padding: 75px 268px 73px 297px;
}

.img:hover {
    transform: scale(1.3);
    transition: transform 0.45s;
}

.subtitle-first {
    margin-top: 37px;
    margin-bottom: 34px;
}

.main-content {
    margin-right: 0;
    margin-left: 52px;
}

.main-information {
    display: flex;
}

.section-subtitle {
    margin-left: 395px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #63696E7A 48%;
    width: 1280px;
    height: 69px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 40px;
}

.footer-item {
    list-style: none;
}

.footer-item a {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-bottom: 13px;
}

.footer-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;

}

.text-copyright {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
}